*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 98vh;
}

.form__div{
    height: 130vh;
}
.data__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    font-size: 160%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}
small{
    color: red;
    font-weight: bold;
}
.first__row{
    width: 100%;
    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 50% 50%;
    padding-bottom: 1.3em;
}
.first__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    padding-right: .7em;
}

.second__row{
    width: 100%;
    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 100%;
    padding-bottom: 1.5em;
}

.second__row .input__box{
    width: 100%;
    /* display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 100%; */
}
.second__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}

.Uname__generator__btn{
    width: 35%;
    margin: 1.5em 0;
    padding: .4em 0;
    background-color: rgb(6, 170, 3);
    color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.third__row{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: 50% 50%;
    padding-bottom: 2em;
}
.third__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    padding-right: .7em;
}
.date__input .input{
    width: 100%;
}
.gender__box{
    font-size: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    padding-top: 1.2em;
}
.gender__iDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .4em;
}
.gender__box > h3{
    font-size: 90%;
}
.gender__iDiv label{
    font-size: 70%;
}
.gender{
    padding: 0 .2em;
}
.input_n{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}
.expe_div > h1{
    font-size: 100%;
    padding-top: 1em;
}
.skillDel > button{
    color: #fff;
    background-color: red;
    padding: 2px 10px;
    border: none;
    font-weight: bold;
    font-size: 70%;
    text-transform: capitalize;
    margin: .6em 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn_add_skill{
    width: 100%;
    padding: 8px;
    background-color: rgb(6, 170, 3);
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
}
.btn_deleteExp{
    color: #fff;
    background-color: red;
    padding: 2px 10px;
    border: none;
    font-weight: bold;
    font-size: 75%;
    text-transform: capitalize;
    margin: .6em 0;
    border-radius: 4px;
    cursor: pointer;
}
input.ng-invalid.ng-touched{
   border: 1px solid red;
} 

input.ng-pending{
   border: 3px solid yellow;
}

input.ng-valid{
   border: 3px solid rgb(17, 244, 17);
}

.btn_submit_form{
    width: 100%;
    margin: 1.5em 0;
    padding: .8em;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.user_detail_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.user__avatar{
    flex: .2;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 1em;
    border-radius: 50%;
}

.user__avatar > p{
    padding: 2em;
    font-weight: bold;
    font-size: 100%;
}

.user__details{
    flex: .8;
}



@media(min-width: 280px) and (max-width: 770px){
    .form__div{
        height: 140vh;
    }

    .first__row{
        width: 100%;
        display: grid;
        grid-template-rows: 3.5em;
        grid-template-columns: 100%;
    }
    .first__row .input{
        width: 100%;
        padding: 8px;
        border-radius: 6px;
    }
    .second__row{
        width: 100%;
        display: grid;
        grid-template-rows: 3.5em;
        grid-template-columns: 100%;
    }
    .second__row .input{
        width: 100%;
        padding: 8px;
        border-radius: 6px;
    }

    .Uname__generator__btn{
        width: 100%;
        padding: .8em 1;
        background-color: rgb(6, 170, 3);
        color: #fff;
        border-radius: 5px;
        border: none;
        text-transform: capitalize;
        cursor: pointer;
    }
}