*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(242, 242, 218);
}
form{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 98vh;
}
header{
    font-size: 160%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
}
small{
    color: red;
    font-weight: bold;
}
.first__row{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: 50% 50%;
    padding-bottom: 2em;
}
.first__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    padding-right: .7em;
}
.second__row{
    width: 100%;
    display: grid;
    grid-template-rows: 3em;
    grid-template-columns: 50% 50%;
}
.second__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    display: flex;
}
.third__row{
    width: 100%;
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: 50% 50%;
    padding-bottom: 2em;
}
.third__row .input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    padding-right: .7em;
}
.date__input .input{
    width: 100%;
}
.gender__box{
    font-size: 98%;
}
.gender__iDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .4em;
}
.gender__iDiv h3{
    font-size: 90%;
}
.gender__iDiv label{
    font-size: 70%;
}





@media(min-width: 280px) and (max-width: 770px){
    .first__row{
        width: 100%;
        display: grid;
        grid-template-rows: 3.5em;
        grid-template-columns: 100%;
    }
    .first__row .input{
        width: 100%;
        padding: 8px;
        border-radius: 6px;
    }
    .second__row{
        width: 100%;
        display: grid;
        grid-template-rows: 3.5em;
        grid-template-columns: 100%;
    }
    .second__row .input{
        width: 100%;
        padding: 8px;
        border-radius: 6px;
    }
}