<div class="section">
  <form  [formGroup]="reactiveForm" (ngSubmit)="onFormSubmitted()">
    <div class="sub_section">
      <header>Registration form</header>

        <div class="input_row">
          <div class="input_box">
            <input type="text" class="input" placeholder="Firstname" formControlName="firstname" /><br />
            <small *ngIf="reactiveForm.get('firstname').errors?.['required'] && reactiveForm.get('firstname').touched">
              *Firstname is a required field
            </small>
            <small *ngIf="reactiveForm.get('firstname').errors?.['noSpaceAllowed'] && reactiveForm.get('firstname').touched">
              *No space is allowed for firstname.
            </small>
            
          </div>

          <div class="input_box">
            <input type="text" class="input" placeholder="Lastname" formControlName="lastname"/><br />
            <small *ngIf="reactiveForm.get('lastname').invalid && reactiveForm.get('lastname').touched">
              *Lastname is a required field
            </small>
          </div>
        </div>

        <div class="input_row">
          <div class="input_box">
            <input type="email" class="input" placeholder="Email" formControlName="email"/><br />
            <small *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched">
              *Email is a required field
            </small>
          </div>

          <div class="input_box">
            <input type="text" class="input" placeholder="username" formControlName="username"/><br />
            <small *ngIf="reactiveForm.get('username').invalid && reactiveForm.get('username').touched">
              *Username is a required field
            </small>
          </div>
        </div>

        <div class="input_row">
          <div class="date_input">
            <input type="date" class="input_i_date" placeholder="Date of Birth" formControlName="dob" />
          </div>

          <div class="gender_box">
            <h3>Gender</h3>
            
            <div class="gender_iDiv">
              <div class="gender_option">
                <div class="gender">
                  <label for="check-male">Male</label>
                  <input type="radio" value="male"  id="check-male" formControlName="gender"/>
                </div>
              </div>

              <div class="gender_option">
                <div class="gender">
                  <label for="check-female">Female</label>
                  <input type="radio" value="female" id="check-female" formControlName="gender"/>
                </div>
              </div>

              <div class="gender_option">
                <div class="gender">
                  <label for="check-preferNotToSay">Prefer not to say</label>
                  <input type="radio" value="other" id="check-preferNotToSay" formControlName="gender"/>
                </div>
              </div>
            </div>      
          </div>
        </div>

        <div class="new_input_box" formArrayName="skills">
          <div class="column" *ngFor="let control of reactiveForm.get('skills')['controls']; let i = index">
            <input 
              class="input_n"
              type="text" 
              placeholder="Add skill"
              
              [formControlName]="i"
            >

            <button type="button" class="btn_delete_skill" (click)="deleteSkill(i)">delete</button>
          </div>      
          
        </div>
        <button type="button" class="btn_add_skill" (click)="AddSkills()">Add skill</button>

        <div class="input_box" formArrayName="experience">
          <div *ngFor="let exp of reactiveForm.get('experience')['controls']; let i = index" [formGroupName]="i">
            <div>
              <div class="expe_div">
                <h1>Experience {{i + 1}}</h1>
                <input type="text" class="cpy_name" placeholder="Company Name" formControlName="company">

                <div class="column">
                  <div class="select_box">
                    <select formControlName="position">
                      <option hidden>Position</option>
                      <option >Junior Developer</option>
                      <option >Software Developer</option>
                      <option >Senior Developer</option>
                      <option >Team Lead</option>
                    </select>
                  </div>
                  <input type="number" class="input_n" placeholder="Experience" formControlName="totalExp">
                </div>

                <div class="column">
                  <input type="date" class="input_n" placeholder="Start date" formControlName="start">
                  <input type="date" class="input_n" placeholder="End date" formControlName="end">
                </div>

                <button type="button" class="btn_delete_exp" (click)="delExp(i)">
                  Delete experience
                </button>
              </div>
            </div>

            
          </div> 
          <button class="btn_add_skill" (click)="addExperience()">
            Add Experience
          </button>
        </div>
        

        <input type="submit" value="Submit" class="btn_submit_form" [disabled]="reactiveForm.invalid" />
      </div>
  </form>
</div>